@import "./variables/global";
@import "./themes/light";
@import "./themes/dark";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app {
    font: var(--font-m);
    background: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh;
    display: flex;
    width: 100%;
}

.content-page {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
}