@use './variables/global';
@use './themes/light';
@use './themes/dark';
@use './themes/orange';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: var(--font-m);
  color: var(--text-color);
}

.app {
  background: var(--bg-color);
  min-height: 100vh;
  display: flex;
  width: 100%;
}

.content-page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

li {
  list-style-type: none;
}

*::-webkit-scrollbar {
  width: 0.3em;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #0000004d;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 20px;
}
