.articleDetailsWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.articleDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.articleDetailsSkeleton {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.views {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.createdAt {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
