.codeWrapper {
  background: var(--info-color);
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

.pre {
  padding: 20px;
  overflow: auto;
}

.copied {
  float: right;
}

.copyBtn {
  float: right;

  &:hover {
    background: var(--accent-color);
    color: var(--info-color);
    border: 2px solid var(--info-color);
  }
}
