.skeleton {
  background: var(--text-color);
  animation: round 1.5s ease-in-out infinite;
}

@keyframes round {
  0% {
    background: var(--text-color);
  }

  50% {
    background: var(--inscription-color);
  }

  100% {
    background: var(--text-color);
  }
}
