.app.dark {
    --bg-color: #1A1A1A;
    --text-color: #E2E3E7;
    --info-color: #454648;
    --regular-color: #5C5F60;
    --signature-color: #77787A;
    --inscription-color: #909499;
    --accent-color: #71AAEB;
}