.app_dark_theme {
  --bg-color: #1a1a1a;
  --text-color: #e2e3e7;
  --info-color: #454648;
  --regular-color: #5c5f60;
  --signature-color: #77787a;
  --inscription-color: #909499;
  --accent-color: #71aaeb;
  --error-color: #ff3a3a;
}
