:root {
    --bg-color: white;
    --text-color: black;
    --info-color: #C4C8CB;
    --regular-color: #AAAEB3;
    --signature-color: #909499;
    --inscription-color: #77787A;
    --accent-color: #518BCC;
}
