:root {
  --bg-color: white;
  --text-color: black;
  --info-color: #c4c8cb;
  --regular-color: #aaaeb3;
  --signature-color: #909499;
  --inscription-color: #77787a;
  --accent-color: #518bcc;
  --error-color: #ff3a3a;
}
