.app.light {
    --bg-color: #88f;
    --inverted-bg-color: #0a0a34;
    --primary-color: #170c4b;
    --inverted-primary-color: #fff7a0;
    --secondary-color: #bd7800;
    --inverted-secondary-color: #8af78c;
}
