.app_orange_theme {
  --bg-color: #ffa346;
  --text-color: #454648;
  --info-color: #ededed;
  --regular-color: #5c5f60;
  --signature-color: #77787a;
  --inscription-color: #909499;
  --accent-color: #b56000;
  --error-color: #ef2e2e;
}
