.menu {
  position: relative;
}

.button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.items {
  background: var(--text-color);
  border: 1px solid var(--accent-color);
  position: absolute;
  z-index: 10;
  margin-top: 20px;
}

.topLeft {
  bottom: 100%;
  right: 100%;
}

.topRight {
  bottom: 100%;
  left: 100%;
}

.bottomLeft {
  top: 100%;
  right: 100%;
}

.bottomRight {
  top: 100%;
  left: 100%;
}

.item {
  cursor: pointer;
  outline: none;
  color: var(--accent-color);
  padding: 10px 20px;
  width: 100%;
  border: none;
  background-color: var(--text-color);
}

.active {
  color: var(--text-color);
  background-color: var(--accent-color);
}

.disable {
  opacity: 0.5;
}
