.profile {
  display: flex;
  gap: 20px;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
